img{
    width: 350px;
    height: 50;
    border: 5px solid red;
    float: left;
}

video{
    width: 1000px;
}   

header ul {

    background-color: rgb(102, 158, 190);
    padding: 3px;
    text-align: center;
    
}

header ul li {

    display: inline-block;
    font-size:xx-large;
    border: 2px solid black;
    padding: 3px;
    
}
header ul li:hover {

  background-color: chartreuse;
    
}

header ul li a {

    text-decoration: none;
    color: black;
    font-size: large;
    

}

header ul li a:visited {

    color: black;
    
}

